* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

/* moving */
body {
  background: linear-gradient(-45deg, #ec0bda, #b31bd123, #e70c0c9c, #552aee);
  background-size: 1000% 400%;
  animation: gradient 15s ease infinite;
}
.sender {
  color: red;
  font-weight: bold;
}
.message {
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* moving */

.heading {
  justify-content: center;
  display: flex;
  font-family: -webkit-pictograph;
}
.name {
  padding: 4px;
}
/* as before person it will have higher precedence in classes elese id the class then tag */
.status {
  color: blue;
  font-size: 10px;
  font-family: cursive;
  margin-right: 6px;
}
.person {
  width: 233px;
  border: 1px solid black;
  font-size: 28px;
  font-weight: bold;
  color: purple;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  color: #d92027;
  background: aliceblue;
  margin-bottom: 10px;
}

.chat-container {
  background: aliceblue;
  height: 500px;
  width: 650px;
  margin-top: 47px;
  background-image: url("./background.jpg");
  border-radius: 12px;
}

.chat-box {
  height: 90%;
  overflow: auto;
}

.chat-item {
  max-width: min-content;
  border-radius: 15px;
  padding: 8px;
  min-width: 25%;
  margin: 10px;
}
.left {
  background: white;
  justify-content: center;
  /* float: left; */
  clear: both;
}
.right {
  background: darkslateblue;
  color: white;
  justify-content: center;
  float: right;
  clear: both;
}

.join {
  width: 90%;
  background: dodgerblue;
  height: 40px;
  border-radius: 29px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: white;
  margin-top: 10px;
}
.leave {
  width: 90%;
  background: red;
  height: 40px;
  border-radius: 29px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: white;
  margin-top: 10px;
}

.chat-input {
  background: unset;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.chat-type-box {
  width: 90%;
  height: 60%;
}
#chat {
  width: 100%;
  height: 100%;
}
.chat-send {
  background-color: dodgerblue;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
}
.online {
  overflow: auto;
  flex-direction: column;
  display: flex;
  margin-top: 47px;
  background: #98acf8;
  width: 297px;
  height: 500px;
  color: #cc0e74;
  border-radius: 12px;
  align-items: center;
  background: url("./online.jpg");
}
.app {
  display: flex;
  justify-content: center;
  top: 30px;
  position: relative;
}
.user {
  height: 39px;
  width: 62.5%;
  /* 800/1200 to make it slightly responsive ness*/
  background: red;
  position: relative;
  top: 28px;
  left: 231px;
  font-size: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Texturina", serif;
}
