* {
  box-sizing: border-box;
}

body,
html {
  margin: 0px;
}

.chat-container {
   margin: auto;
  width: 903px;
  margin-top: 32px;
}
.chat-box {
  padding-top: 4px;
  border-radius: 12px;
  background: #70ccee;
  height: 32.5rem;
  width: 100%;
  overflow: auto;
  background-image: url("./background.jpg");
  background-size: 371px;
}
.chat-item {
   display: flex;
  justify-content: flex-start;
  border: 1px solid blanchedalmond;
  margin: 10px;
  border-radius: 17px;
  align-items: center;
  max-width: min-content;
  min-width: 40%;
  min-height: 30px;
  padding: 7px 3px 6px 9px; 
}
.right {
  float: right;
  clear: both;
  background: #dbf6e9;
}
.left {

  background: snow;

  clear: both;
  justify-content: center;
}
.chat-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: aliceblue;
  border-radius: 7px;
  height: 49px;
}
.chat-type-box {
  height: 1.7rem;
  width: 90%;
}
#chat {
  height: 1.5rem;
  width: 100%;
}
.chat-send {
  border: 1px solid purple;
  padding: 4px;
  border-radius: 7px;
  background: mediumseagreen;
}
.join {
  border-radius: 10px;
  background: rgb(41, 243, 243);
  font-weight: bold;
  width: 90%;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
  margin-top: 10px;
}
.leave {
  border-radius: 10px;
  background: red;
  font-weight: bold;
  width: 90%;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
  margin-top: 10px;
}
.name {
  background: pink;
  height: 49px;
  width: 29rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#input-name {
}
